@import url("https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* INDEX HTML */
.content-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 215px;
  flex-direction: column;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.image-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.image-link img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.image-link .hover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  background-color: transparent;
  padding: 10px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  transition: background-color 0.3s ease-in-out;
}
.image-link .hover-text:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.heading-bg {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
}

/* BACKGROUND & BODY */
body {
  background-image: url("../img/Query-Computer.jpg");
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}
body h2,
body h3 {
  font-family: "Oswald", sans-serif;
}

.background-section {
  background-image: url("../img/Query-Computer.jpg");
  background-size: cover;
  padding: 20px;
}

.trade-winds-regular {
  font-family: "Trade Winds", system-ui;
  font-weight: 300;
  font-style: normal;
}

/* LINKS */
a {
  text-decoration: none;
  color: rgb(58, 58, 58);
}
a:hover {
  color: rgb(0, 0, 0);
}
a:visited {
  color: rgb(255, 255, 255);
}

/* HELP PAGE FAQ */
.FAQ details {
  margin: 20px auto;
  max-width: 600px;
}
.FAQ details[open] {
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  color: black;
}
.FAQ details:not([open]) {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}
.FAQ details summary {
  background-color: #ffffff;
  color: black;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
}
.FAQ details summary:hover {
  background-color: #f0f0f0;
}
.FAQ p {
  font-size: 20px;
}

/* CONTACT FORM */
.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: lightblue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contact-form button {
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.contact-form button:hover {
  background-color: #0056b3;
}

/* MAP */
.map-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}
.map-container iframe {
  max-width: 100%;
  border-radius: 10px;
}

.custom-navbar {
  background-color: steelblue !important;
  color: black;
}

.custom-navbar .navbar-collapse {
  display: flex;
  justify-content: center;
}

.custom-navbar .navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.custom-navbar .navbar-nav .nav-item {
  margin: 0 10px;
}

.custom-navbar .navbar-nav .nav-item .nav-link {
  color: white;
  font-size: 20px;
}

.custom-navbar .navbar-nav .nav-item .nav-link:hover {
  background-color: #74b9ff;
  border-radius: 25px;
}

.custom-navbar .navbar-nav .nav-item .nav-link, .custom-navbar .navbar-nav .nav-item .nav-link:visited {
  color: white;
}

.custom-navbar .navbar-nav .dropdown-item {
  color: white;
  background-color: #337DFF;
}

/* GRID */
.grid-container,
.grid-container-2,
.grid-container-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  background: none;
  padding: 20px;
}

.grid-item {
  background-color: lightblue;
  border-radius: 20px;
  width: 90%;
  height: auto;
  margin: auto;
  padding: 15px;
  text-align: center;
  font-size: 18px;
}
.grid-item img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(28, 104, 247, 0.418);
  transition: border-radius 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
}
.grid-item img:hover {
  border-radius: 100%;
  box-shadow: 0 0 35px rgba(22, 73, 124, 0.5);
}

.animation-sale-items {
  transition-timing-function: all 2s ease-in;
}

/* SALE PAGE */
main#store-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.shop-items {
  display: inline-block;
  margin: 1%;
  vertical-align: top;
  text-align: center;
  width: 23%;
}
.shop-items img {
  width: 100%;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}
.shop-items p {
  margin: 10px 0 0;
  font-size: 16px;
}
.shop-items a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* BUTTON */
.btn-shop {
  background: #337DFF;
  text-decoration: none;
  border-radius: 9px;
  width: 50px;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(28, 104, 247, 0.418);
  transition: box-shadow 0.3s, transform 0.3s;
}
.btn-shop:hover, .btn-shop:focus, .btn-shop:active {
  box-shadow: 0 0 25px rgba(45, 144, 242, 0.5);
  transform: scale(1.1);
}

/* FOOTER */
.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: steelblue;
  color: white;
  padding: 5px;
  margin-top: auto;
  height: 100px;
}
.foot .middle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.foot .middle .social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 20px;
  border-radius: 30%;
  color: black;
  text-decoration: none;
}
.foot .middle .social i {
  font-size: 45px;
  transition: 0.2s linear;
}
.foot .middle .social:hover i {
  transform: scale(1.3);
}
.foot .middle .social::before {
  position: relative;
  width: 120%;
  height: 120%;
}
.foot .middle .social:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
.foot .middle .social.fb:hover {
  color: #3742fa;
}
.foot .middle .social.yt:hover {
  color: red;
}
.foot .middle .social.ig:hover {
  color: #9b59b6;
}

/* MEDIA QUERY */
/* Mobile S */
@media screen and (max-width: 350px) {
  body {
    background-image: url("../img/Query-Mobile.png");
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 17px;
  }
  h3 {
    font-size: 10px;
  }
  .grid-container,
  .grid-container-2,
  .grid-container-3 {
    grid-gap: 15px;
    padding: 3px;
    grid-template-columns: 1fr 1fr !important;
    background: none;
    padding: 5px;
  }
  .grid-item {
    padding: 5px;
    font-size: 12px;
    border-radius: 4px;
    width: 95%;
    margin: auto;
  }
  .grid-item img {
    width: 60px;
    height: 60px;
    border-radius: 2px;
  }
  img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(28, 104, 247, 0.418);
    transition: border-radius 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
  }
  img:hover {
    border-radius: 100%;
    box-shadow: 0 0 35px rgba(22, 73, 124, 0.5);
  }
  .btn-shop {
    width: 20px;
    text-decoration: none;
    border-radius: 3px;
    font-size: 9px;
    border: 0;
  }
  p {
    font-size: 7px;
  }
  .custom-navbar {
    font-size: 14px;
  }
  .custom-navbar .navbar-toggler {
    display: block;
    background-color: transparent;
    border: none;
    color: white;
  }
  .custom-navbar .navbar-collapse {
    display: none;
  }
  .custom-navbar .navbar-nav {
    display: block;
    text-align: center;
    width: 100%;
  }
  .custom-navbar .nav-item {
    margin: 10px 0;
  }
  .custom-navbar .nav-link {
    font-size: 14px;
  }
  .custom-navbar h1 {
    font-size: 14px;
  }
  .social i {
    font-size: 30px;
  }
}
.custom-navbar {
  font-size: 14px;
}

.content-section {
  height: 150px;
}

.image-link .hover-text {
  font-size: 20px;
  padding: 5px;
}

.image-link img {
  border-radius: 5px;
}

.content-section img {
  object-fit: contain;
}

.image-link {
  width: 100%;
  height: 100%;
}

.FAQ details {
  margin: 10px auto;
  max-width: 100%;
}
.FAQ details[open] {
  padding: 8px;
  border-radius: 4px;
}
.FAQ details:not([open]) {
  padding: 8px;
  border-radius: 4px;
}
.FAQ details summary {
  padding: 8px;
  margin: 5px;
  font-size: 16px;
  border-radius: 4px;
}
.FAQ h3 {
  font-size: 18px;
}
.FAQ p {
  font-size: 14px;
}

/* Mobile M */
@media screen and (min-width: 350px) and (max-width: 385px) {
  body {
    background-image: url("../img/Query-Mobile.png");
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 17px;
  }
  h3 {
    font-size: 12px;
  }
  .grid-container,
  .grid-container-2,
  .grid-container-3 {
    grid-gap: 15px;
    padding: 3px;
    grid-template-columns: 1fr 1fr;
    background: none;
  }
  .grid-item {
    padding: 5px;
    font-size: 12px;
    border-radius: 4px;
    width: 95%;
    margin: auto;
  }
  .grid-item img {
    width: 60px;
    height: 60px;
    border-radius: 2px;
  }
  img {
    width: 120px;
    height: 120px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(28, 104, 247, 0.5);
  }
  img:hover {
    border-radius: 50%;
    box-shadow: 0 0 25px rgba(22, 73, 124, 0.7);
  }
  .btn-shop {
    width: 25px;
    text-decoration: none;
    border-radius: 3px;
    font-size: 10px;
    border: 0;
  }
  p {
    font-size: 8px;
  }
  .custom-navbar {
    font-size: 14px;
  }
  .custom-navbar .navbar-toggler {
    display: block;
    background-color: transparent;
    border: none;
    color: white;
  }
  .custom-navbar .navbar-collapse {
    display: none;
  }
  .custom-navbar .navbar-nav {
    display: block;
    text-align: center;
    width: 100%;
  }
  .custom-navbar .nav-item {
    margin: 10px 0;
  }
  .custom-navbar .nav-link {
    font-size: 14px;
  }
  .custom-navbar h1 {
    font-size: 16px;
  }
  .social i {
    font-size: 32px;
  }
}
.custom-navbar {
  font-size: 14px;
}

.content-section {
  height: 180px;
}

.image-link .hover-text {
  font-size: 22px;
  padding: 6px;
}

.image-link img {
  border-radius: 6px;
}

.content-section img {
  object-fit: contain;
}

.image-link {
  width: 100%;
  height: 100%;
}

.FAQ details {
  margin: 15px auto;
  max-width: 100%;
}
.FAQ details[open] {
  padding: 9px;
  border-radius: 4px;
}
.FAQ details:not([open]) {
  padding: 9px;
  border-radius: 4px;
}
.FAQ details summary {
  padding: 9px;
  margin: 8px;
  font-size: 18px;
  border-radius: 4px;
}
.FAQ h3 {
  font-size: 20px;
}
.FAQ p {
  font-size: 16px;
}

/* Mobile L*/
@media screen and (min-width: 386px) and (max-width: 436px) {
  body {
    background-image: url("../img/Query-Computer.jpg");
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 19px;
  }
  h3 {
    font-size: 12px;
  }
  .grid-container,
  .grid-container-2,
  .grid-container-3 {
    grid-gap: 15px;
    padding: 5px;
    grid-template-columns: 1fr 1fr !important;
    background: none;
  }
  .grid-item {
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    width: 95%;
    margin: auto;
  }
  .grid-item img {
    width: 70px;
    height: 70px;
    border-radius: 2px;
  }
  img {
    width: 130px;
    height: 130px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(28, 104, 247, 0.5);
  }
  img:hover {
    border-radius: 60%;
    box-shadow: 0 0 30px rgba(22, 73, 124, 0.6);
  }
  .btn-shop {
    width: 25px;
    text-decoration: none;
    border-radius: 3px;
    font-size: 11px;
    border: 0;
  }
  p {
    font-size: 9px;
  }
  .custom-navbar {
    font-size: 16px;
  }
  .custom-navbar .navbar-toggler {
    display: block;
    background-color: transparent;
    border: none;
    color: white;
  }
  .custom-navbar .navbar-collapse {
    display: none;
  }
  .custom-navbar .navbar-nav {
    display: block;
    text-align: center;
    width: 100%;
  }
  .custom-navbar .nav-item {
    margin: 10px 0;
  }
  .custom-navbar .nav-link {
    font-size: 16px;
  }
  .custom-navbar h1 {
    font-size: 18px;
  }
  .social i {
    font-size: 34px;
  }
}
.custom-navbar {
  font-size: 16px;
}

.content-section {
  height: 200px;
}

.image-link .hover-text {
  font-size: 28px;
  padding: 10px;
}

.image-link img {
  border-radius: 8px;
}

.content-section img {
  object-fit: cover;
}

.image-link {
  width: 100%;
  height: 100%;
}

.FAQ details {
  margin: 18px auto;
  max-width: 100%;
}
.FAQ details[open] {
  padding: 10px;
  border-radius: 5px;
}
.FAQ details:not([open]) {
  padding: 10px;
  border-radius: 5px;
}
.FAQ details summary {
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  border-radius: 5px;
}
.FAQ h3 {
  font-size: 20px;
}
.FAQ p {
  font-size: 16px;
}

/* Tablet */
@media (min-width: 436px) and (max-width: 770px) {
  body {
    background-image: url("../img/Query-Computer.jpg");
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 17px;
  }
  h3 {
    font-size: 10px;
  }
  .grid-container,
  .grid-container-2,
  .grid-container-3 {
    grid-gap: 15px;
    padding: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    background: none;
  }
  .grid-item {
    padding: 8px;
    font-size: 12px;
    border-radius: 4px;
    width: 95%;
    margin: auto;
  }
  .grid-item img {
    width: 60px;
    height: 60px;
    border-radius: 2px;
  }
  img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(28, 104, 247, 0.418);
    transition: border-radius 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
  }
  img:hover {
    border-radius: 100%;
    box-shadow: 0 0 35px rgba(22, 73, 124, 0.5);
  }
  .btn-shop {
    width: 20px;
    text-decoration: none;
    border-radius: 3px;
    font-size: 9px;
    border: 0;
  }
  p {
    font-size: 7px;
  }
  .custom-navbar {
    font-size: 14px;
  }
  .custom-navbar .navbar-toggler {
    display: block;
    background-color: transparent;
    border: none;
    color: white;
  }
  .custom-navbar .navbar-collapse {
    display: none;
  }
  .custom-navbar .navbar-nav {
    display: block;
    text-align: center;
    width: 100%;
  }
  .custom-navbar .nav-item {
    margin: 10px 0;
  }
  .custom-navbar .nav-link {
    font-size: 14px;
  }
  .custom-navbar h1 {
    font-size: 16px;
  }
  .social i {
    font-size: 35px;
  }
}
.custom-navbar {
  font-size: 14px;
}

.content-section {
  height: 250px;
}

.image-link .hover-text {
  font-size: 40px;
  padding: 15px;
}

.image-link img {
  border-radius: 15px;
}

.content-section img {
  object-fit: cover;
}

.image-link {
  width: 100%;
  height: 100%;
}

.FAQ details {
  margin: 15px auto;
  max-width: 90%;
}
.FAQ details[open] {
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  color: black;
}
.FAQ details:not([open]) {
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
}
.FAQ details summary {
  padding: 10px;
  margin: 8px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
}
.FAQ h3 {
  font-size: 22px;
}
.FAQ p {
  font-size: 18px;
}

/* Other devices */
@media (min-width: 771px) and (max-width: 1023px) {
  body {
    background-image: url("../img/Query-Computer.jpg");
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 17px;
  }
  h3 {
    font-size: 10px;
  }
  .grid-container,
  .grid-container-2,
  .grid-container-3 {
    grid-gap: 15px;
    padding: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    background: none;
  }
  .grid-item {
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    width: 95%;
    margin: auto;
  }
  .grid-item img {
    width: 70px;
    height: 70px;
    border-radius: 2px;
  }
  img {
    width: 160px;
    height: 160px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(28, 104, 247, 0.418);
    transition: border-radius 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
  }
  img:hover {
    border-radius: 100%;
    box-shadow: 0 0 35px rgba(22, 73, 124, 0.5);
  }
  .btn-shop {
    width: 20px;
    text-decoration: none;
    border-radius: 3px;
    font-size: 10px;
    border: 0;
  }
  p {
    font-size: 9px;
  }
  .custom-navbar {
    font-size: 14px;
  }
  .custom-navbar .navbar-toggler {
    display: none !important;
  }
  .custom-navbar .navbar-collapse {
    display: block !important;
  }
  .custom-navbar .navbar-nav {
    display: flex;
    text-align: center;
    width: 100%;
  }
  .custom-navbar .nav-item {
    margin: 10px;
    display: block;
  }
  .custom-navbar .nav-link {
    font-size: 14px;
  }
  .custom-navbar h1 {
    font-size: 16px;
  }
  .social i {
    font-size: 35px;
  }
}
.custom-navbar {
  font-size: 14px;
}

.content-section {
  height: 250px;
}

.image-link .hover-text {
  font-size: 40px;
  padding: 15px;
}

.image-link img {
  border-radius: 15px;
}

.content-section img {
  object-fit: cover;
}

.image-link {
  width: 100%;
  height: 100%;
}

.FAQ details {
  margin: 20px auto;
  max-width: 750px;
}
.FAQ details[open] {
  padding: 12px;
  border-radius: 6px;
  background-color: #ffffff;
  color: black;
}
.FAQ details:not([open]) {
  padding: 12px;
  border-radius: 6px;
  background-color: #ffffff;
}
.FAQ details summary {
  padding: 12px;
  margin: 12px;
  font-size: 20px;
  border-radius: 6px;
  background-color: #f8f8f8;
  color: #333;
}
.FAQ h3 {
  font-size: 22px;
}
.FAQ p {
  font-size: 18px;
}

/* Laptop */
@media (max-width: 1025px) {
  body {
    background-image: url("../img/Query-Computer.jpg");
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 17px;
  }
  h3 {
    font-size: 10px;
  }
  .grid-container,
  .grid-container-2,
  .grid-container-3 {
    grid-gap: 15px;
    padding: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    background: none;
  }
  .grid-item {
    padding: 8px;
    font-size: 12px;
    border-radius: 4px;
    width: 95%;
    margin: auto;
  }
  .grid-item img {
    width: 60px;
    height: 60px;
    border-radius: 2px;
  }
  img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(28, 104, 247, 0.418);
    transition: border-radius 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
  }
  img:hover {
    border-radius: 100%;
    box-shadow: 0 0 35px rgba(22, 73, 124, 0.5);
  }
  .btn-shop {
    width: 20px;
    text-decoration: none;
    border-radius: 3px;
    font-size: 9px;
    border: 0;
  }
  p {
    font-size: 7px;
  }
  .custom-navbar {
    font-size: 14px;
  }
  .custom-navbar .navbar-toggler {
    display: none !important;
  }
  .custom-navbar .navbar-collapse {
    display: block !important;
  }
  .custom-navbar .navbar-nav {
    display: flex;
    text-align: center;
    width: 100%;
  }
  .custom-navbar .nav-item {
    margin: 10px;
    display: block;
  }
  .custom-navbar .nav-link {
    font-size: 14px;
  }
  .custom-navbar h1 {
    font-size: 16px;
  }
  .social i {
    font-size: 35px;
  }
}
.custom-navbar {
  font-size: 14px;
}

.content-section {
  height: 300px;
}

.image-link .hover-text {
  font-size: 40px;
  padding: 15px;
}

.image-link img {
  border-radius: 15px;
}

.content-section img {
  object-fit: cover;
}

.image-link {
  width: 100%;
  height: 100%;
}

.FAQ details {
  margin: 20px auto;
  max-width: 90%;
}
.FAQ details[open] {
  padding: 12px;
  border-radius: 6px;
  background-color: #ffffff;
  color: black;
}
.FAQ details:not([open]) {
  padding: 12px;
  border-radius: 6px;
  background-color: #ffffff;
}
.FAQ details summary {
  padding: 12px;
  margin: 10px;
  font-size: 20px;
  border-radius: 6px;
  background-color: #f8f8f8;
  color: #333;
}
.FAQ h3 {
  font-size: 22px;
}
.FAQ p {
  font-size: 18px;
}/*# sourceMappingURL=styles.css.map */