/* Navbar */
.custom-navbar {
    background-color: $main-color !important;
    color: black;

    .navbar-collapse {
        display: flex;
        justify-content: center;
    }

    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .nav-item {
            margin: 0 10px;

            .nav-link {
                color: white;
                font-size: 20px;

                &:hover {
                    background-color: #74b9ff;
                    border-radius: 25px;
                }

                &,
                &:visited {
                    color: white;
                }
            }
        }

        .dropdown-item {
            color: white;
            background-color: #337DFF;
        }
    }
}