  .custom-navbar {
    background-color: steelblue !important;
    
    .container-fluid {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .navbar-nav {
      display: flex;
      justify-content: center;
      align-items: center;
  
      .nav-link {
        color: black;
        padding: 0.5rem 1rem;
        text-align: center;
  
        &:hover {
          background-color: #74b9ff;
          border-radius: 25px;
          color: black;
        }
  
        &:visited {
          color: black;
        }
  
        &:active {
          background-color: #74b9ff;
          border-radius: 25px;
          color: black;
        }
      }
    }
  }