/* MEDIA QUERY */

/* Mobile S */
@media screen and (max-width: 350px) {
    body {
        background-image: url('../img/Query-Mobile.png');
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 17px;
    }

    h3 {
        font-size: 10px;
    }

    .grid-container,
    .grid-container-2,
    .grid-container-3 {
        grid-gap: 15px;
        padding: 3px;
        grid-template-columns: 1fr 1fr !important;
        background: none;
        padding: 5px;
    }

    .grid-item {
        padding: 5px;
        font-size: 12px;
        border-radius: 4px;
        width: 95%;
        margin: auto;
    }

    .grid-item img {
        width: 60px;
        height: 60px;
        border-radius: 2px;
    }

    img {
        width: 100px; 
        height: 100px; 
        border-radius: 10px; 
        box-shadow: 0 0 10px rgba(28, 104, 247, 0.418);
        transition: border-radius 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
    
        &:hover {
            border-radius: 100%; 
            box-shadow: 0 0 35px rgba(22, 73, 124, 0.5);
        }
    }

    .btn-shop {
        width: 20px;
        text-decoration: none;
        border-radius: 3px;
        font-size: 9px;
        border: 0;
    }

    p {
        font-size: 7px;
    }

    .custom-navbar {
        font-size: 14px; 

        .navbar-toggler {
            background-color: transparent;
            border: none;
            color: white;
        }

        .navbar-nav {
            display: block;
            text-align: center;
            width: 100%; 
        }

        .nav-item {
            margin: 5px 0; 
        }

        .nav-link {
            font-size: 14px; 
        }
    }

    .custom-navbar h1 {
        font-size: 14px; 
    }

    .social i {
        font-size: 30px; 
    }
}

.custom-navbar {
    font-size: 14px;
}

.content-section {
    height: 150px;
}

.image-link .hover-text {
    font-size: 20px;
    padding: 5px;
}

.image-link img {
    border-radius: 5px;
}

.content-section img {
    object-fit: contain;
}

.image-link {
    width: 100%;
    height: 100%;
}

.FAQ {

details {
    margin: 10px auto; 
    max-width: 100%; 

    &[open] {
        padding: 8px; 
        border-radius: 4px;
    }

    &:not([open]) {
        padding: 8px;
        border-radius: 4px;
    }

    summary {
        padding: 8px;
        margin: 5px; 
        font-size: 16px; 
        border-radius: 4px;
    }
}

h3 {
    font-size: 18px;
}

p {
    font-size: 14px; 
}
}

/* Mobile M */
@media screen and (min-width: 350px) and (max-width: 385px) {
    body {
        background-image: url('../img/Query-Mobile.png');
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 17px;
    }

    h3 {
        font-size: 10px;
    }

    .grid-container,
    .grid-container-2,
    .grid-container-3 {
        grid-gap: 15px;
        padding: 3px;
        grid-template-columns: 1fr 1fr !important;
        background: none;
        padding: 5px;
    }

    .grid-item {
        padding: 5px;
        font-size: 12px;
        border-radius: 4px;
        width: 95%;
        margin: auto;
    }

    .grid-item img {
        width: 60px;
        height: 60px;
        border-radius: 2px;
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(28, 104, 247, 0.418);
        transition: border-radius 0.6s ease-in-out, box-shadow 0.6s ease-in-out;

        &:hover {
            border-radius: 100%;
            box-shadow: 0 0 35px rgba(22, 73, 124, 0.5);
        }
    }

    .btn-shop {
        width: 20px;
        text-decoration: none;
        border-radius: 3px;
        font-size: 9px;
        border: 0;
    }

    p {
        font-size: 7px;
    }

    .custom-navbar {
        font-size: 14px;

        .navbar-toggler {
            background-color: transparent;
            border: none;
            color: white;
        }

        .navbar-nav {
            display: block;
            text-align: center;
            width: 100%;
        }

        .nav-item {
            margin: 5px 0;
        }

        .nav-link {
            font-size: 14px;
        }
    }

    .custom-navbar h1 {
        font-size: 14px;
    }

    .social i {
        font-size: 30px;
    }
}

.custom-navbar {
    font-size: 14px;
}

.content-section {
    height: 150px;
}

.image-link .hover-text {
    font-size: 20px;
    padding: 5px;
}

.image-link img {
    border-radius: 5px;
}

.content-section img {
    object-fit: contain;
}

.image-link {
    width: 100%;
    height: 100%;
}

.FAQ {
    details {
        margin: 10px auto;
        max-width: 100%;

        &[open] {
            padding: 8px;
            border-radius: 4px;
        }

        &:not([open]) {
            padding: 8px;
            border-radius: 4px;
        }

        summary {
            padding: 8px;
            margin: 5px;
            font-size: 16px;
            border-radius: 4px;
        }
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }
}

/* Mobile L*/

@media screen and (min-width: 386px) and (max-width: 436px) {
    body {
        background-image: url('../img/Query-Mobile.png');
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 17px;
    }

    h3 {
        font-size: 10px;
    }

    .grid-container,
    .grid-container-2,
    .grid-container-3 {
        grid-gap: 15px;
        padding: 3px;
        grid-template-columns: 1fr 1fr !important;
        background: none;
        padding: 5px;
    }

    .grid-item {
        padding: 5px;
        font-size: 12px;
        border-radius: 4px;
        width: 95%;
        margin: auto;
    }

    .grid-item img {
        width: 60px;
        height: 60px;
        border-radius: 2px;
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(28, 104, 247, 0.418);
        transition: border-radius 0.6s ease-in-out, box-shadow 0.6s ease-in-out;

        &:hover {
            border-radius: 100%;
            box-shadow: 0 0 35px rgba(22, 73, 124, 0.5);
        }
    }

    .btn-shop {
        width: 20px;
        text-decoration: none;
        border-radius: 3px;
        font-size: 9px;
        border: 0;
    }

    p {
        font-size: 7px;
    }

    .custom-navbar {
        font-size: 14px;

        .navbar-toggler {
            background-color: transparent;
            border: none;
            color: white;
        }

        .navbar-nav {
            display: block;
            text-align: center;
            width: 100%;
        }

        .nav-item {
            margin: 5px 0;
        }

        .nav-link {
            font-size: 14px;
        }
    }

    .custom-navbar h1 {
        font-size: 14px;
    }

    .social i {
        font-size: 30px;
    }
}

.custom-navbar {
    font-size: 14px;
}

.content-section {
    height: 150px;
}

.image-link .hover-text {
    font-size: 20px;
    padding: 5px;
}

.image-link img {
    border-radius: 5px;
}

.content-section img {
    object-fit: contain;
}

.image-link {
    width: 100%;
    height: 100%;
}

.FAQ {
    details {
        margin: 10px auto;
        max-width: 100%;

        &[open] {
            padding: 8px;
            border-radius: 4px;
        }

        &:not([open]) {
            padding: 8px;
            border-radius: 4px;
        }

        summary {
            padding: 8px;
            margin: 5px;
            font-size: 16px;
            border-radius: 4px;
        }
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }
}

/* Tablet */

@media (min-width: 436px) and (max-width: 770px) {
    body {
        background-image: url('../img/Query-Mobile.png');
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 17px;
    }

    h3 {
        font-size: 10px;
    }

    .grid-container,
    .grid-container-2,
    .grid-container-3 {
        grid-gap: 15px;
        padding: 3px;
        grid-template-columns: 1fr 1fr !important;
        background: none;
        padding: 5px;
    }

    .grid-item {
        padding: 5px;
        font-size: 12px;
        border-radius: 4px;
        width: 95%;
        margin: auto;
    }

    .grid-item img {
        width: 60px;
        height: 60px;
        border-radius: 2px;
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(28, 104, 247, 0.418);
        transition: border-radius 0.6s ease-in-out, box-shadow 0.6s ease-in-out;

        &:hover {
            border-radius: 100%;
            box-shadow: 0 0 35px rgba(22, 73, 124, 0.5);
        }
    }

    .btn-shop {
        width: 20px;
        text-decoration: none;
        border-radius: 3px;
        font-size: 9px;
        border: 0;
    }

    p {
        font-size: 7px;
    }

    .custom-navbar {
        font-size: 14px;

        .navbar-toggler {
            background-color: transparent;
            border: none;
            color: white;
        }

        .navbar-nav {
            display: block;
            text-align: center;
            width: 100%;
        }

        .nav-item {
            margin: 5px 0;
        }

        .nav-link {
            font-size: 14px;
        }
    }

    .custom-navbar h1 {
        font-size: 14px;
    }

    .social i {
        font-size: 30px;
    }
}

.custom-navbar {
    font-size: 14px;
}

.content-section {
    height: 150px;
}

.image-link .hover-text {
    font-size: 20px;
    padding: 5px;
}

.image-link img {
    border-radius: 5px;
}

.content-section img {
    object-fit: contain;
}

.image-link {
    width: 100%;
    height: 100%;
}

.FAQ {
    details {
        margin: 10px auto;
        max-width: 100%;

        &[open] {
            padding: 8px;
            border-radius: 4px;
        }

        &:not([open]) {
            padding: 8px;
            border-radius: 4px;
        }

        summary {
            padding: 8px;
            margin: 5px;
            font-size: 16px;
            border-radius: 4px;
        }
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }
}

/* Other devices */

@media (min-width: 771px) and (max-width: 1023px) {
    body {
        background-image: url('../img/Query-Mobile.png');
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 17px;
    }

    h3 {
        font-size: 10px;
    }

    .grid-container,
    .grid-container-2,
    .grid-container-3 {
        grid-gap: 15px;
        padding: 3px;
        grid-template-columns: 1fr 1fr !important;
        background: none;
        padding: 5px;
    }

    .grid-item {
        padding: 5px;
        font-size: 12px;
        border-radius: 4px;
        width: 95%;
        margin: auto;
    }

    .grid-item img {
        width: 60px;
        height: 60px;
        border-radius: 2px;
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(28, 104, 247, 0.418);
        transition: border-radius 0.6s ease-in-out, box-shadow 0.6s ease-in-out;

        &:hover {
            border-radius: 100%;
            box-shadow: 0 0 35px rgba(22, 73, 124, 0.5);
        }
    }

    .btn-shop {
        width: 20px;
        text-decoration: none;
        border-radius: 3px;
        font-size: 9px;
        border: 0;
    }

    p {
        font-size: 7px;
    }

    .custom-navbar {
        font-size: 14px;

        .navbar-toggler {
            background-color: transparent;
            border: none;
            color: white;
        }

        .navbar-nav {
            display: block;
            text-align: center;
            width: 100%;
        }

        .nav-item {
            margin: 5px 0;
        }

        .nav-link {
            font-size: 14px;
        }
    }

    .custom-navbar h1 {
        font-size: 14px;
    }

    .social i {
        font-size: 30px;
    }
}

.custom-navbar {
    font-size: 14px;
}

.content-section {
    height: 150px;
}

.image-link .hover-text {
    font-size: 20px;
    padding: 5px;
}

.image-link img {
    border-radius: 5px;
}

.content-section img {
    object-fit: contain;
}

.image-link {
    width: 100%;
    height: 100%;
}

.FAQ {
    details {
        margin: 10px auto;
        max-width: 100%;

        &[open] {
            padding: 8px;
            border-radius: 4px;
        }

        &:not([open]) {
            padding: 8px;
            border-radius: 4px;
        }

        summary {
            padding: 8px;
            margin: 5px;
            font-size: 16px;
            border-radius: 4px;
        }
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }
}

/* Laptop */

@media (max-width: 1024px) {
    body {
        background-image: url('../img/Query-Mobile.png');
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 17px;
    }

    h3 {
        font-size: 10px;
    }

    .grid-container,
    .grid-container-2,
    .grid-container-3 {
        grid-gap: 15px;
        padding: 3px;
        grid-template-columns: 1fr 1fr !important;
        background: none;
        padding: 5px;
    }

    .grid-item {
        padding: 5px;
        font-size: 12px;
        border-radius: 4px;
        width: 95%;
        margin: auto;
    }

    .grid-item img {
        width: 60px;
        height: 60px;
        border-radius: 2px;
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(28, 104, 247, 0.418);
        transition: border-radius 0.6s ease-in-out, box-shadow 0.6s ease-in-out;

        &:hover {
            border-radius: 100%;
            box-shadow: 0 0 35px rgba(22, 73, 124, 0.5);
        }
    }

    .btn-shop {
        width: 20px;
        text-decoration: none;
        border-radius: 3px;
        font-size: 9px;
        border: 0;
    }

    p {
        font-size: 7px;
    }

    .custom-navbar {
        font-size: 14px;

        .navbar-toggler {
            background-color: transparent;
            border: none;
            color: white;
        }

        .navbar-nav {
            display: block;
            text-align: center;
            width: 100%;
        }

        .nav-item {
            margin: 5px 0;
        }

        .nav-link {
            font-size: 14px;
        }
    }

    .custom-navbar h1 {
        font-size: 14px;
    }

    .social i {
        font-size: 30px;
    }
}

.custom-navbar {
    font-size: 14px;
}

.content-section {
    height: 150px;
}

.image-link .hover-text {
    font-size: 20px;
    padding: 5px;
}

.image-link img {
    border-radius: 5px;
}

.content-section img {
    object-fit: contain;
}

.image-link {
    width: 100%;
    height: 100%;
}

.FAQ {
    details {
        margin: 10px auto;
        max-width: 100%;

        &[open] {
            padding: 8px;
            border-radius: 4px;
        }

        &:not([open]) {
            padding: 8px;
            border-radius: 4px;
        }

        summary {
            padding: 8px;
            margin: 5px;
            font-size: 16px;
            border-radius: 4px;
        }
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }
}